<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" href="../../../static/add_worker_global.css"/>
    <link rel="stylesheet" href="../../../static/add_worker.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
</head>
<body>
<div class="div">
    <div class="head">
        <div class="user">
            <img class="icon" alt="" src="/static/icon@2x.png"/>

             <div class="div1">
                <button class="sample-text-sample-text-sample-container" onclick="location.href='/logout'">
                    <p class=" sample-text-sample-text">Выход</p>
                </button>
            </div>
        </div>
        <img class="icon" alt="" src="/static/icon@2x.png"/>
    </div>
    <div class="div2">
        <div class="div3">
            <img class="child" alt=""/>

            <div class="div4">Задачи</div>
        </div>
        <button class="div5" onclick="location.href='/view_client'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div4">Клиенты</div>
        </button>
        <button class="div5" onclick="location.href='/view_worker'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div4">Сотрудники</div>
        </button>
        <button class="div5" onclick="location.href='/backup'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div4">Экспорт</div>
        </button>
        <button class="div5" onclick="location.href='/current_tasks'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div4">Задачи</div>
        </button>
    </div>
    <div class="div13">
        <button class="div5" onclick="location.href='/add_worker'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div15">Добавить сотрудника</div>
        </button>
        <button class="div5" onclick="location.href='/view_worker'">
            <img class="child" alt="" src="/static/ellipse-1@2x.png"/>

            <div class="div15">Удалить сотрудника</div>
        </button>
    </div>
    <div class="parent">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Редактировать</button>
            </p><!--
        <b class="b">Регистрация нового сотрудника</b>
        <div class="group">
          <div class="div18">
            <div class="made-by-mironow">Фамилия</div>
          </div>
          <div class="div18">
            <div class="made-by-mironow">Имя</div>
          </div>
          <div class="div18">
            <div class="made-by-mironow">Отчество</div>
          </div>
          <div class="div18">
            <div class="made-by-mironow">Логин</div>
          </div>
          <div class="div18">
            <div class="made-by-mironow">Пароль</div>
          </div>
        </div>
        <div class="div28">
          <div class="made-by-mironow">Зарегистрировать</div>
        </div>
      </div>-->
            <div class="footer">
                <div class="made-by-mironow">Made by MironoW</div>
                <div class="made-by-mironow">
                    Курсовая работа по предмету ”Базы Данных”
                </div>
            </div>
    </div>
</body>
</html>
