.icon {
  position: relative;
  border-radius: var(--br-41xl);
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sample-text-sample-text {
  margin: 0;
}
.sample-text-sample-text-sample-container {
  position: absolute;
  top: 0;
  left: 0;
}
.div1 {
  position: relative;
  width: 146px;
  height: 30px;
}
.head,
.user {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.user {
  flex: 1;
  gap: var(--gap-3xs);
}
.head {
  align-self: stretch;
  background-color: var(--light-gray);
  height: 57px;
  flex-shrink: 0;
  padding: var(--padding-63xl) var(--padding-3xl) var(--padding-63xl)
    var(--padding-42xl);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--text-4-size);
}
.child,
.div4 {
  position: relative;
}
.child {
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 30px;
  flex-shrink: 0;
}
.div2,
.div3,
.div5 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.div3 {
  flex: 1;
  background-color: var(--light-gray);
  display: none;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.div2,
.div5 {
  display: flex;
}
.div5 {
  flex: 1;
  background-color: var(--light-gray);
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.div2 {
  align-self: stretch;
  height: 43px;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-39xl) var(--padding-xl);
  box-sizing: border-box;
}
.b {
  position: relative;
  font-size: var(--header-2-size);
  display: inline-block;
  text-align: center;
  width: 253px;
}
.div13,
.group {
  display: flex;
  align-items: center;
}
.div13 {
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  box-sizing: border-box;
  width: 280px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
}
.group {
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 51px 0;
  gap: 27px;
  color: var(--gray-1);
}
.div21 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  box-sizing: border-box;
  width: 192px;
  flex-direction: row;
  padding: var(--padding-5xs-5) var(--padding-lg-5);
  color: var(--color-gainsboro-100);
}
.div21,
.div25,
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  border-radius: 8px;
  background-color: var(--white);
  width: 564px;
  overflow: hidden;
  flex-direction: column;
  padding: 68px 110px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: var(--text-4-size);
}
.div25 {
  flex: 1;
  position: relative;
  height: 30px;
}
.div23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-3xs);
}
.made-by-mironow {
  position: relative;
}
.div,
.footer {
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--light-gray);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-45xl) var(--padding-31xl);
  box-sizing: border-box;
}
.div {
  position: relative;
  background-color: #efefef;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 11px;
  text-align: center;
  font-size: var(--text-2-size);
  color: var(--color-black);
  font-family: var(--header-2);
}
