<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../static/manage_tasks_global.css" />
    <link rel="stylesheet" href="../../../static/manage_tasks.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="head">
        <div class="user">
          <img class="icon" alt="" src="/static/icon@2x.png" />

          <div class="div1">
            <div class="sample-text-sample-text-sample-container">
              <p class="sample-text-sample-text">Sample_text Sample_text</p>
              <p class="sample-text-sample-text">Sample_text Sample_text</p>
            </div>
          </div>
        </div>
        <img class="icon" alt="" src="/static/icon@2x.png" />
      </div>
      <div class="div2">
        <div class="div3">
          <img class="child" alt="" />

          <div class="div4">Задачи</div>
        </div>
        <button class="div5" onclick="location.href='/view_client'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div4">Клиенты</div>
        </button>
        <button class="div5" onclick="location.href='/view_worker'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div4">Сотрудники</div>
        </button>
        <button class="div5" onclick="location.href='/backup'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div4">Бэкап</div>
        </button>
        <button  class="div5" onclick="location.href='/current_tasks'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div4">Задачи</div>
        </button>
      </div>
      <div class="div13">
        <button class="div14" onclick="location.href='/current_tasks'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div15">Текущие</div>
        </button>
        <button class="div14" onclick="location.href='/failed_tasks'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div15">Проваленные</div>
        </button>
        <button class="div14" onclick="location.href='/manage_tasks'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div15">Редактировать</div>
        </button>
        <button class="div14" onclick="location.href='/create_task'">
          <img class="child" alt="" src="/static/ellipse-1@2x.png" />

          <div class="div15">Создать</div>
        </button>
      </div>
      <div class="parent">
        <div class="div22">
          <div class="div23">
            <b class="b">Задача</b>
          </div>
          <div class="div23">
            <div class="b">Позвонить Абобе Абобусовичу 89103675785</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
        </div>
        <div class="div48">
          <div class="div23">
            <b class="b">Дата создания</b>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
        </div>
        <div class="div48">
          <div class="div23">
            <b class="b">Дэдлайн</b>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
        </div>
        <div class="div48">
          <div class="div23">
            <b class="b">Статус</b>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
        </div>
        <div class="div48">
          <div class="div23">
            <b class="b">Сотрудник</b>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
          <div class="div23">
            <div class="b">Ячейка таблицы</div>
          </div>
        </div>
        <div class="div152">
          <div class="div153">
            <div class="div154">
              <div class="b">Изменить</div>
            </div>
            <div class="wrapper">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
          <div class="div153">
            <div class="div159">
              <div class="b">Изменить</div>
            </div>
            <div class="container">
              <div class="div156">
                <div class="b">Удалить</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="b">Made by MironoW</div>
        <div class="b">Курсовая работа по предмету ”Базы Данных”</div>
      </div>
    </div>
  </body>
</html>
